@import "tailwindcss";

@import "tailwindcss/preflight" /* instead @tailwind base */ @tailwind utilities; /* Covers both @tailwind utilities & @tailwind components */

.custom-bg {
  background: radial-gradient(
      circle at 30% 20%,
      rgba(242, 3, 3, 0.7),
      rgba(233, 54, 5, 0.4)
    ),
    radial-gradient(
      circle at 70% 80%,
      rgba(252, 31, 2, 0.6),
      rgba(243, 24, 4, 0.947)
    ),
    linear-gradient(135deg, #f9a8d4 0%, #f472b6 100%);

  background-blend-mode: overlay;
  position: relative;
}

/* Dots layer */
/* .custom-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    rgba(228, 230, 74, 0.52) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  opacity: 2.5;
  pointer-events: none;
} */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes customPulse {
  0%,
  100% {
    
    transform: scale(1);
  }
  50% {
    
    transform: scale(1.3);
  }
}
.animate-custom-pulse {
  animation: customPulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}